body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'Kumbh Sans', sans-serif;
	background-color: hsl(185, 75%, 39%);

}

.center {
	background-color: aliceblue;
	width: 350px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	border-radius: 25px;
  }
.img{
  position: relative;
  top: 0;
  left: 0;
}
#one {
	position: relative;
	top: 0;
	left: 0;
	border-radius: 20px 20px 0px 0px;
 }
#victor {
	position: absolute;
	top: 50%;
	left: 35%;
	border-radius: 50px;
  }
#name {
	display: flex;
	justify-content: center;
	padding-top: 2.1rem;
}
#ptwo {
	position: absolute;
	padding-top: 2rem;
}
.cards {
	display: flex;
	justify-content: space-between;
	margin-left: 1.6rem;
	padding-top: 3rem;
}
.card {
	flex: 1;
}
