body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	color: hsl(0, 0%, 8%);
	font-family: 'Kumbh Sans', sans-serif;
	background-color: hsl(185, 75%, 39%);
	
}

.center {
	background-color: aliceblue;
	width: 350px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
  }
.img{
  position: relative;
  top: 0;
  left: 0;
}
#one {
	position: relative;
	top: 0;
	left: 0;
	border-radius: 20px 20px 0px 0px;
 }
#victor {
	position: absolute;
	top: 50%;
	left: 35%;
	border-radius: 50px;
  }
#name {
	display: flex;
	justify-content: center;
	padding-top: 2.1rem;
}
#ptwo {
	position: absolute;
	padding-top: 2rem;
}
.cards {
	display: flex;
	justify-content: space-between;
	margin-left: 1.6rem;
	padding-top: 3rem;
}
.card {
	flex: 1;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.screen{
	position: relative;
	width: auto;
	height: auto;
}
#bckgrndimg {
	position: relative;
	top: 0%;
	left: 0;
	z-index: -1;
	
	}
#bckgrndimg2 {
	position: absolute;
	right: 0;
	bottom: 0%;
	z-index: -1;
}